.blog {
    /* border: 1px solid #f0f0f0;
    background-color: #fff; */
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 1.5rem;
    position: relative;
}

.blog-image, .blog-image img, .blog-image>a {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.blog-image {
    overflow: hidden;
}
.blog-view .blog-title {
    font-size: 24px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.blog-title {
    font-size: 22px;
    margin: 0 0 10px;
}
.blog-content > p{
    text-align: justify ;
    padding-bottom: 20px;
}
.blog-content > h3{
    padding-top: 15px;
    padding-bottom: 15px;
}
.post-left ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.post-left ul li {
    margin-bottom: 5px;
    margin-right: 20px;
}
.post-left ul i{
    color: #ffc107;
    padding-right:6px;
}
.post-info i{
    color: #ffc107;
    padding-right:6px;
    font-size: 12px;
}
.post-info p{
    font-size: 13px;
    padding-top: 5px;
}
.blog-content ul {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 0;
    padding-bottom: 15px;
}